<!DOCTYPE html>
  <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>My First Angular Application!</title>
 
     <!-- CSS -->
     <!-- load bootstrap and our stylesheet -->
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
     <style>
         body { padding-top:50px; }
     </style>
 
     <!-- JS -->
     <!-- load angular and our custom application -->
  
     	
 </head>
 <body class="container" ng-app="firstApp" ng-controller="mainController as main">
 	 <div class="jumbotron">
 	 	<div class="form-group">
     <label>Message</label>
    <input type="text" class="form-control" ng-model="main.message">
</div>

   <!-- display the message -->
   <h2>This is my message:</h2>
      {{ main.message }}
      <h2>This is my list:</h2>
  <table class="table table-bordered">
     <thead>
         <tr>
             <td>Name</td>
             <td>Color</td>
              <td>Nerd Level</td>
         </tr>
     </thead>
     <tbody>
         <tr ng-repeat="computer in main.computers">
            <td>{{ computer.name }}</td>
             <td>{{ computer.color }}</td>
                          <td>{{ computer.nerdness }}

</td>
         </tr>
     </tbody>
 </table>
 <form class="form-inline" ng-submit="main.addComputer()">
     
      <input type="text" class="form-control" placeholder="Macbook" ng-model="main\
 computerData.name">
      <input type="text" class="form-control" placeholder="Silver" ng-model="main.\
  computerData.color">
      <input type="number" class="form-control" placeholder="8" ng-model="main.com\
  puterData.nerdness">
 
     <button type="submit" class="btn btn-success">Add</button>
 </form>


 </div>
<script src="bower_components/angular/angular.min.js"></script>
          <script src="bower_components/angular-route/angular-route.min.js"></script>
          <script src="bower_components/jquery/dist/jquery.min.js"></script>
          <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
     <script src="app.js"></script>   

 </body>

 </html>

